<ion-view title="Ayuda">
  <ion-content class="has-header" padding="true">
    <h1 style="color: rgb(0, 0, 0);">Manual</h1>
    <div>
      <div class="show-list-numbers-and-dots">
          <div class="show-list-numbers-and-dots" id="ayuda-markdown1">
          <h2>Idea General</h2>

          <p style="color:#000000;">Palabrio está pensado para 4 o más jugadores divididos en equipos, un jugador debe hacer que sus compañeros adivinen a base de pistas la mayor cantidad de palabras posibles en 30 segundos.</p>

          <h2>Rounds</h2>

          <p style="color:#000000;">El juego está dividido en 3 rounds, cada uno con una dificultad un poco mayor a la anterior.</p>

          <h4>Round 1:</h4>

          <p style="color:#000000;">Puedes hablar, actuar, hacer sonidos, señalar, etc. Pero no podés mencionar ninguna de las palabras que aparesca en la pantalla (Excepto por los botones de
            <strong>Correcto</strong>,
            <strong>Incorrecto</strong>, y el título de
            <strong>Jugando</strong>).</p>

          <h4>Round 2:</h4>

          <p style="color:#000000;">Es igual a la Ronda 1 pero solo podés decir una palabra y actuar.</p>

          <h4>Round 3:</h4>

          <p style="color:#000000;">En esta ronda solo podés actuar.</p>

          <h2>Reglas</h2>

          <p style="color:#000000;">Palabrio cuenta con unas pocas reglas que hacen al juego mas interesante:</p>

          <h4>Respetar el Idioma.</h4>

          <p style="color:#000000;">El juego por ahora solo se encuentra en Español, jugarlo en otro idioma ocacionaria conflictos a la hora de decidir si las palabras que usa un jugador está o no prohibida. Ej: Si la "Palabra Prohibida" es
            <strong>Ver</strong>, en inglés podria considerarse tanto
            <strong>Watch</strong> como
            <strong>See</strong>
          </p>

          <h4>No deribados.</h4>

          <p style="color:#000000;">Al prohibir una palabra, se prohiben todos sus "deribados". Cualquier palabra que comparta la raíz de una "Palabra Prohibida" se concidera prohibida. Ej:
            <strong>Arbol</strong>-
            <strong>Arbol</strong>ito-Individuo de una
            <strong>Arbol</strong>eda</p>

          <h4>Prohibidos nombres propios, excepto los que pertenezcan a lugares.</h4>

          <p style="color:#000000;">La idea de esta regla es agregar complejidad, evitar que las pistas sean nombres de actores o directores de una película, y que el juego sea más dinamico. Ej: Mencionar a
            <strong>DiCaprio</strong> para que tu equipo adivine la palabra
            <strong>Titanic</strong>
          </p>

          <h4>Las reglas de los diferentes Rounds deben ser extrictamente cumplidas.</h4>

          <p style="color:#000000;">Cuando dice "ninguna de las palabras en pantalla" es
            <strong>ninguna</strong> (Excepto por los botones de Correcto
            ,Incorrecto
            , y el título de Jugando
            ), es decir, <strong>no puedes decir Palabra Prohibida,
            Personaje,
            Videojuego, etc</strong>. Y cuado solo puedes decir una palabra, es solo una; <strong>cualquier sonido producido por tu boca cuenta como palabra. </strong></p>
        </div>
      </div>
    </div>
    <a class="button button-balanced  button-block" ui-sref="mainMenu">Volver al Menú</a>
  </ion-content>
</ion-view>
