<ion-view id="pageHelp" title="Ayuda">
  <ion-content class="has-header" padding="true">
    <h1 style="color: rgb(0, 0, 0);" id="ayuda-heading2">Manual</h1>
    <div id="ayuda-container7">
      <div class="show-list-numbers-and-dots" id="ayuda-markdown1">
        <p style="color:#000000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id placerat sapien, eu ornare leo. Donec vel tempor ex. Donec a felis ut lorem tristique venenatis. Phasellus leo mauris, malesuada quis placerat vel, laoreet a metus. Nam semper tincidunt
          lectus, at fermentum purus placerat ut. Maecenas imperdiet bibendum urna. Suspendisse nec efficitur enim. Nunc dignissim est nec eros semper, a maximus lectus luctus.</p>
      </div>
    </div>
    <a class="button button-balanced  button-block" id="ayuda-button17" ui-sref="mainMenu">Volver al Menú</a>
  </ion-content>
</ion-view>
