<ion-view style="" id="page4" title="Jugando">
  <ion-content class="has-header" padding="true">
    <ion-list id="jugando-list9">
      <ion-item style="" id="jugando-list-item4">30</ion-item>
    </ion-list>
    <div id="jugando-container3">
      <ion-list id="jugando-list4">
        <ion-item style="" id="jugando-list-item2" class="item-icon-left">
          <i class="icon ion-ionic"></i>Palabra Adivinar</ion-item>
      </ion-list>
    </div>
    <div style="width: 290px; height: 39px;" class="spacer"></div>
    <div id="jugando-container4">
      <ion-list id="jugando-list8">
        <ion-item style="" id="jugando-list-item3" class="item-icon-left assertive">
          <i class="icon ion-alert"></i>No puedo decir esto
          <span class="item-note">Palabra Prohibida</span>
        </ion-item>
      </ion-list>
    </div>
    <div class="button-bar" id="jugando-button-bar1">
      <button class="button button-assertive  button-block" id="jugando-button8">Incorrecto</button>
      <button class="button button-balanced  button-block" id="jugando-button9">Correcto</button>
    </div>
  </ion-content>
</ion-view>