<ion-view title="Jugando" ng-init="gameStarted()">
  <ion-content class="has-header" padding="true">
    <ion-list>
      <ion-item class="chronometer positive"><font size="250%">{{ counter }}</font></ion-item>
    </ion-list>
    <div>
      <ion-list>
        <ion-item class="item-icon-left">
          <i class="{{ current.icon }}"></i>{{ current.name }}
          <span class="item-note">{{ current.description }}</span>
        </ion-item>
      </ion-list>
    </div>
    <div style="width: 290px; height: 39px;" class="spacer"></div>
    <div>
      <ion-list>
        <ion-item class="item-icon-left assertive" ng-repeat="banned in current.bannedWords">
          <i class="icon ion-alert"></i>{{ banned }}
          <span class="item-note">Palabra Prohibida</span>
        </ion-item>
      </ion-list>
    </div>
    <div class="button-bar">
      <button class="button button-assertive  button-block" ng-click="nextCard(false)">Incorrecto</button>
      <button class="button button-balanced  button-block" ng-click="nextCard(true)">Correcto</button>
    </div>
  </ion-content>
</ion-view>
