<ion-view id="pagePlaying" title="Jugando">
  <ion-content class="has-header" padding="true">
    <ion-list>
      <ion-item>30</ion-item>
    </ion-list>
    <div id="containerWords">
      <ion-list>
        <ion-item class="item-icon-left">
          <i class="icon ion-ionic"></i>Palabra Adivinar</ion-item>
      </ion-list>
    </div>
    <div style="width: 290px; height: 39px;" class="spacer"></div>
    <div id="playing-container4">
      <ion-list>
        <ion-item class="item-icon-left assertive">
          <i class="icon ion-alert"></i>No puedo decir esto
          <span class="item-note">Palabra Prohibida</span>
        </ion-item>
      </ion-list>
    </div>
    <div class="button-bar" id="buttonbarPlaying">
      <button class="button button-assertive  button-block" id="btnCorrect">Incorrecto</button>
      <button class="button button-balanced  button-block" id="btnWrong">Correcto</button>
    </div>
  </ion-content>
</ion-view>
