<ion-view style="" id="page5" title="Resultados">
  <ion-content class="has-header" padding="true">
    <div id="resultados-container6">
      <ion-list id="resultados-list12">
        <ion-item style="" id="resultados-list-item6">Equipo
          <span class="item-note">Puntos</span>
        </ion-item>
      </ion-list>
    </div>
    <div class="button-bar" id="resultados-button-bar2">
      <a class="button button-assertive  button-block" id="resultados-button14" ui-sref="menuPrincipal">Volver al menú</a>
      <a class="button button-balanced  button-block" id="resultados-button15" ui-sref="elegirTemas">Revancha</a>
    </div>
  </ion-content>
</ion-view>